extends base

block content 
    main
        .blog-card
            each blog in blogs
                .card(style='width: 18rem;')
                    img.card-img-top(src='img/felix-mooneeram-evlkOfkQ5rE-unsplash.jpg' alt='...')
                    .card-body
                        h5.card-title=blog.title
                        p.card-text=blog.description
                        a.btn.btn-primary(href=`/blog/${blog.slug}`) More..