extends base

block style 
    style.
        body{
        background: #fff;
        font-family: 'PT Sans', sans-serif;
        }
        h2{
        padding-top: 1.5rem;
        }
        a{
        color: #333;
        }
        a:hover{
        color: #da5767;
        text-decoration: none;
        }
        .card{
        border: 0.40rem solid #f8f9fa;
        top: 20%;
        }
        .form-control{
        background-color: #f8f9fa;
        padding: 15px;
        padding: 15px 15px;
        margin-bottom: 1.3rem;
        }
        .form-control:focus {
        color: #000000;
        background-color: #ffffff;
        border: 3px solid #da5767;
        outline: 0;
        box-shadow: none;
        }
        .btn{
        padding: 0.6rem 1.2rem;
        background: #da5767;
        border: 2px solid #da5767;
        }
        .btn-primary:hover {
        background-color: #df8c96;
        border-color: #df8c96;
        transition: .3s;
        }
        a{
            text-decoration:none;
        }

block header


block content 
    .container
        .row.justify-content-center
            .col-md-5
                .card
                    h2.card-title.text-center
                        | Log in to your account 
                    .card-body.py-md-4
                        form.form--login
                            .form-group
                                input#email.form-control(type='email' placeholder='Email')
                            .form-group
                                input#password.form-control(type='password' placeholder='Password')
                            .d-flex.flex-row.align-items-center.justify-content-between
                                button.btn.btn-primary(type='submit') Login

block footer 